:root {
  --primary-color: #002a41;
  --secondary-color: #00adec;
  --accent-color: #009bde;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--primary-color);
}

.hero {
  text-align: center;
  margin-top: 100px;
  padding: 40px 10px;
  background-image: url("/images/ocean2.jpg");
}

.hero h1 {
  font-size: 90px;
  font-family: "Bebas Neue", cursive;
  opacity: 95%;
}

.hero h2,
h3 {
  line-height: 1.5;
}

.btn-branding {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
  color: white;
}

.btn-branding:hover {
  background-color: #fff;
  border-color: var(--primary-color);
  color: var(--secondary-color);
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 22px;
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 60px;
  }
}
